:root {
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-gray: #907e82;
  --color-pink: #ffa5ba;
  --color-pink-2: #e17992;
  --color-pink-3: #fea5bb;
  --color-pink-4: #ffb8ca;
  --color-pink-5: #e18298;
  --color-accent: #d41443;
  --color-beige: #f0d1a5;
  --color-green: #c2e297;
  --color-silver: #e1e1e1;
  --color-title-h1-h2: var(--color-accent);
  --color-title-second-h1-h2: var(--color-pink);
  --color-title-h3-h4: var(--color-white);
  --color-title-h5: var(--color-dark);
  --color-text-inverse: var(--color-white);
  --color-text-primary: var(--color-dark);
  --color-text-second: var(--color-gray);
  --color-text-accent: var(--color-accent);
  --color-text-pink: var(--color-pink);
  --color-border-accent: var(--color-accent);
  --color-border: var(--color-pink-5);
  --color-bg-link-social-footer: var(--color-pink-3);
  --color-bg-button: var(--color-white);
  --color-bg-burger-button: var(--color-pink);
  --color-bg-button-inverse: var(--color-accent);
  --color-bg-menu-mobile: var(--color-pink-2);
  --color-bg-header: var(--color-pink-4);
  --color-bg-card-1: var(--color-pink-4);
  --color-bg-card-2: var(--color-beige);
  --color-bg-card-3: var(--color-green);
  --color-bg-cafe: var(--color-beige);
  --color-bg-foodtrack: var(--color-green);
  --color-border-1: var(--color-silver);
}

.button {
  display: inline-block;
  font-family: DM Sans;
  background-color: var(--color-bg-button);
  border: none;
  outline: none;
  border-radius: 22px;
  cursor: pointer;
  color: var(--color-text-accent);
}

.button.inverse {
  color: var(--color-text-inverse);
  background-color: var(--color-bg-button-inverse);
}

.burger-button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-header);
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .burger-button {
    background-color: var(--color-bg-burger-button);
  }
}

.burger-button.is-open {
  background-color: var(--color-bg-menu-mobile);
}

.burger-button__burger {
  height: 12px;
  width: 20px;
}

.burger-button__cross {
  display: none;
  width: 14px;
  height: 14px;
}

.burger-button.is-open .burger-button__burger {
  display: none;
}

.burger-button.is-open .burger-button__cross {
  display: block;
}

.menu-pop-up {
  z-index: 1;
}

@media screen and (max-width: 1199px) {
  .menu-pop-up {
    display: none;
    width: 250px;
    height: 100vh;
    background-color: var(--color-bg-menu-mobile);
    padding: 123px 0;
  }
}

.menu-pop-up__arrow-right {
  stroke: var(--color-text-accent);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Titan One;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h4,
h5 {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 34px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 115px;
    width: 1200px;
  }
}

.link {
  text-decoration: none;
}

.text,
.link {
  font-family: DM Sans, sans-serif;
}

.text {
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
}

.text-second {
  color: var(--color-text-second);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.feedback-discription {
  background-image: url("../image/about-us-marks.png");
  background-repeat: no-repeat;
  background-position: 61px 28px;
}

@media screen and (min-width: 768px) {
  .feedback-discription {
    background-position: 40px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-discription {
    background-position: 50px 32px;
  }
}

.feedback-discription__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feedback-discription__text {
    font-size: 14px;
    line-height: 2.16;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-discription__text {
    font-size: 16px;
    line-height: 1.86;
  }
}

.feedback-discription__text--name {
  font-size: 14px;
  line-height: 1.85;
}

@media screen and (min-width: 768px) {
  .feedback-discription__text--name {
    font-size: 16px;
    line-height: 1.86;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-discription__text--name {
    font-size: 20px;
    line-height: 1.86;
  }
}

.feedback-discription__continuation {
  display: block;
  width: 32px;
  height: 4px;
  background-image: url("../image/about-us-dots.png");
}

.slick-dots.slick-dots--bottom {
  left: 0;
  bottom: -5px;
}

.slick-dots.slick-dots--bottom .dot {
  width: 12px;
  height: 12px;
}

.slick-dots.slick-dots--bottom .dot::before {
  display: block;
  content: "";
  opacity: 1;
  width: 12px;
  height: 12px;
  background-image: url("../image/about-us-ellipse-gray.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.slick-dots.slick-dots--bottom .slick-active .dot::before {
  background-image: url("../image/about-us-icon-house.png");
}

@media screen and (max-width: 1199px) {
  .navigation__list {
    border: 1px solid var(--color-border);
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .navigation__item {
    border: 1px solid var(--color-border);
  }
}

@media screen and (min-width: 1200px) {
  .navigation__item:not(:last-child) {
    margin-right: 35px;
  }
}

.navigation__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 1200px) {
  .navigation__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

.header {
  background-color: var(--color-bg-header);
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 38px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding: 38px 115px 0 46px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 0;
  }
}

.header__burger-button {
  margin-right: 30px;
}

@media screen and (min-width: 1200px) {
  .header__burger-button {
    display: none;
  }
}

.header__button {
  display: none;
  z-index: 1;
  padding: 14px 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: block;
    padding: 14px 37px;
  }
}

@media screen and (max-width: 1199px) {
  .menu-pop-up {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.menu-pop-up.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-pop-up.is-open ~ .header__burger-button {
  position: absolute;
  top: 23px;
  right: 34px;
  margin-right: 0;
}

@media screen and (max-width: 1199px) {
  .menu-pop-up.is-open ~ .header__button {
    position: absolute;
    top: 60px;
    right: 20px;
    display: block;
    padding: 14px 54px;
  }
}

.menu-pop-up__arrow-right {
  margin-left: 28px;
}

@media screen and (max-width: 1199px) {
  .navigation__item {
    padding: 12px 21px;
  }
}

.section-hero {
  background-color: var(--color-pink-4);
}

.section-hero__container {
  background-image: url("../image/hero-ice-cream.png"), url("../image/hero-ellipse.png");
  background-repeat: no-repeat;
  background-size: 171px 410px, 346px 344px;
  background-position: 117px 36px, 36px 27px;
}

@media screen and (min-width: 768px) {
  .section-hero__container {
    background-image: url("../image/hero-milk.png"), url("../image/hero-ellipse-white.png"), url("../image/hero-ellipse-white.png");
    background-size: 124px 126px, 16px 16px, 16px 16px;
    background-position: 34px 158px, 718px 12px, 718px 69px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__container {
    background-image: url("../image/hero-milk.png"), url("../image/hero-ellipse-white.png"), url("../image/hero-ellipse-white.png");
    background-size: 188px 191px, 30px 30px, 30px 30px;
    background-position: 77px 342px, 1073px 74px, 1073px 166px;
  }
}

.section-hero__container::before {
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section-hero__container::before {
    display: block;
    content: "";
    width: 427px;
    height: 414px;
    background-image: url("../image/hero-ice-cream.png"), url("../image/hero-girl.png"), url("../image/hero-ellipse.png");
    background-size: 143px 336px, 168px 133px, 324px 322px;
    background-position: 71px 32px, 259px 235px, left top;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__container::before {
    width: 696px;
    height: 613px;
    background-image: url("../image/hero-ice-cream.png"), url("../image/hero-girl.png"), url("../image/hero-ellipse.png");
    background-size: 236px 557px, 293px 232px, 538px 538px;
    background-position: 119px 56px, 403px 381px, left top;
  }
}

.section-hero__caption {
  font-size: 26px;
  line-height: 1.15;
  text-align: left;
  width: 218px;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 768px) {
  .section-hero__caption {
    width: 162px;
    font-size: 25px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__caption {
    width: 277px;
    font-size: 38px;
    line-height: 1.15;
  }
}

.section-hero__caption-bold {
  font-size: 48px;
  line-height: 0.96;
  color: var(--color-text-accent);
}

@media screen and (min-width: 768px) {
  .section-hero__caption-bold {
    font-size: 34px;
    line-height: 0.95;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__caption-bold {
    font-size: 58px;
  }
}

.section-hero__button-disc {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 9px 14px;
}

@media screen and (min-width: 1200px) {
  .section-hero__button-disc {
    font-size: 14px;
    line-height: 1.28;
    padding: 15px 24px;
  }
}

.section-hero__text {
  width: 114px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 1200px) {
  .section-hero__text {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.section-hero__button-next {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../image/arrow-right.jpg");
  background-size: contain;
}

@media screen and (min-width: 1200px) {
  .section-hero__button-next {
    width: 26px;
    height: 26px;
  }
}

.section-hero__count-establishment {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  text-align: right;
  color: var(--color-text-accent);
}

@media screen and (min-width: 1200px) {
  .section-hero__count-establishment {
    font-size: 46px;
    line-height: 1.15;
  }
}

.section-hero__name-establishment {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 1200px) {
  .section-hero__name-establishment {
    font-size: 14px;
    line-height: 1.28;
  }
}

.section-hero__container {
  position: relative;
  padding-top: 137px;
  padding-bottom: 160px;
}

@media screen and (min-width: 768px) {
  .section-hero__container {
    padding-top: 15px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__container {
    padding-top: 84px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .section-hero__container::before {
    position: absolute;
    top: -48px;
    left: 307px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__container::before {
    top: -33px;
    left: 475px;
  }
}

.section-hero__caption {
  margin-bottom: 19px;
}

@media screen and (min-width: 1200px) {
  .section-hero__caption {
    margin-bottom: 25px;
  }
}

.section-hero__button.inverse {
  margin-right: 8px;
}

.section-hero__wrapper-product {
  margin-bottom: 66px;
}

@media screen and (min-width: 1200px) {
  .section-hero__wrapper-product {
    margin-bottom: 112px;
  }
}

.section-hero__wrapper-eco {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-hero__wrapper-eco {
    display: block;
    margin-left: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__wrapper-eco {
    margin-left: 180px;
  }
}

.section-hero__text {
  margin-bottom: 7px;
}

@media screen and (min-width: 1200px) {
  .section-hero__text {
    margin-bottom: 20px;
  }
}

.section-hero__wrapper-establishments {
  display: none;
}

@media screen and (min-width: 768px) {
  .section-hero__wrapper-establishments {
    position: absolute;
    top: 14px;
    right: 44px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero__wrapper-establishments {
    top: 78px;
    right: 115px;
  }
}

.section-hero__wrapper-cafe {
  margin-bottom: 14px;
}

@media screen and (min-width: 1200px) {
  .section-hero__wrapper-cafe {
    margin-bottom: 18px;
  }
}

.section-products__caption {
  font-size: 18px;
  line-height: 1.16;
  color: var(--color-title-second-h1-h2);
}

@media screen and (min-width: 768px) {
  .section-products__caption {
    font-size: 26px;
    line-height: 1.15;
  }
}

.section-products__caption-bold {
  font-size: 34px;
  line-height: 1.14;
  color: var(--color-text-accent);
}

@media screen and (min-width: 768px) {
  .section-products__caption-bold {
    font-size: 48px;
    line-height: 1.14;
  }
}

.section-products__caption-item {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 1200px) {
  .section-products__caption-item {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section-products__dot {
  width: 26px;
  height: 6px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../image/product-dots.png");
}

.section-products__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 1200px) {
  .section-products__text {
    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 1200px) {
  .section-products__text {
    width: 241px;
  }
}

.section-products__item {
  border-radius: 24px;
  height: 485px;
}

@media screen and (min-width: 1200px) {
  .section-products__item {
    height: 525px;
  }
}

.section-products__item:nth-child(1) {
  background-color: var(--color-bg-card-1);
}

.section-products__item:nth-child(2) {
  background-color: var(--color-bg-card-2);
}

.section-products__item:nth-child(3) {
  background-color: var(--color-bg-card-3);
}

.section-products__button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("../image/arrow-right.jpg");
}

.section-products__container {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .section-products__container {
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .section-products__container {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.section-products__caption {
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .section-products__caption {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .section-products__caption {
    margin-bottom: 259px;
  }
}

.section-products__caption-bold {
  display: block;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .section-products__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .section-products__list {
    margin: -15px;
  }
}

.section-products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 161px 40px 41px;
}

@media screen and (min-width: 768px) {
  .section-products__item {
    -ms-flex-preferred-size: calc((100% - 2 * 20px) / 3);
        flex-basis: calc((100% - 2 * 20px) / 3);
    margin: 10px;
    padding: 152px 11px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .section-products__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 3);
        flex-basis: calc((100% - 2 * 30px) / 3);
    margin: 15px;
    padding: 163px 44px 50px;
  }
}

@media screen and (max-width: 767px) {
  .section-products__item:not(:last-child) {
    margin-bottom: 130px;
  }
}

.section-products__image {
  position: absolute;
  top: -113px;
}

@media screen and (min-width: 768px) {
  .section-products__image {
    top: -102px;
    width: 220px;
    height: 224px;
  }
}

@media screen and (min-width: 1200px) {
  .section-products__image {
    top: -210px;
    width: 335px;
    height: 335px;
  }
}

.section-how-made__container {
  background-image: url("../image/how-made-bg-milk.png");
  background-size: 320px 133px;
  background-position: left 766px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section-how-made__container {
    background-size: 768px 340px;
    background-position: left 331px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__container {
    background-image: url("../image/how-made-bg-milk@2x.png");
    background-size: 1200px 534px;
    background-position: left 342px;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-how-made__container {
    background-image: url("../image/how-made-bg-milk@2x.png");
  }
}

.section-how-made__caption {
  font-size: 18px;
  line-height: 1.16;
  color: var(--color-title-second-h1-h2);
}

@media screen and (min-width: 768px) {
  .section-how-made__caption {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__caption {
    font-size: 30px;
    line-height: 1.13;
  }
}

.section-how-made__caption-bold {
  font-size: 34px;
  line-height: 1.14;
  color: var(--color-title-h1-h2);
}

@media screen and (min-width: 768px) {
  .section-how-made__caption-bold {
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__caption-bold {
    font-size: 58px;
    line-height: 1.13;
  }
}

.section-how-made__picture-component {
  width: 280px;
  height: 279px;
}

@media screen and (min-width: 768px) {
  .section-how-made__picture-component {
    width: 340px;
    height: 339px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__picture-component {
    width: 516px;
    height: 516px;
  }
}

.section-how-made__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-how-made__text, .section-how-made__desc {
  font-size: 12px;
  line-height: 1.62;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .section-how-made__text, .section-how-made__desc {
    font-size: 14px;
    line-height: 1.76;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__text, .section-how-made__desc {
    font-size: 16px;
    line-height: 1.76;
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-how-made__bg-milk {
    background-image: url("../image/how-made-bg-milk@2x.png");
  }
}

.section-how-made__caption-structure {
  font-size: 36px;
  line-height: 1.13;
  text-align: left;
  color: var(--color-text-accent);
}

@media screen and (min-width: 768px) {
  .section-how-made__caption-structure {
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__caption-structure {
    font-size: 58px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 768px) {
  .section-how-made__item {
    width: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__item {
    width: 330px;
  }
}

.section-how-made__item::before {
  display: inline-block;
  content: "";
  height: 50px;
  max-width: 50px;
}

.section-how-made__item:nth-child(1) {
  background-image: url("../image/how-made-milk.png");
  background-repeat: no-repeat;
  background-size: 33px 50px;
}

.section-how-made__item:nth-child(2) {
  background-image: url("../image/how-made-apple.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.section-how-made__item:nth-child(3) {
  background-image: url("../image/how-made-ice-cream.png");
  background-repeat: no-repeat;
  background-size: 44px 50px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section-how-made__item:nth-child(1) {
    background-image: url("../image/how-made-milk@2x.png");
  }
  .section-how-made__item:nth-child(2) {
    background-image: url("../image/how-made-apple@2x.png");
  }
  .section-how-made__item:nth-child(3) {
    background-image: url("../image/how-made-ice-cream@2x.png");
  }
}

.section-how-made__container {
  padding-top: 125px;
  padding-bottom: 145px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .section-how-made__container {
    padding-top: 130px;
    padding-bottom: 246px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__container {
    padding-top: 125px;
    padding-bottom: 310px;
  }
}

.section-how-made__caption-bold {
  display: block;
  margin-top: 15px;
}

.section-how-made__caption {
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .section-how-made__caption {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__caption {
    margin-bottom: 106px;
  }
}

.section-how-made__picture-component {
  margin-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .section-how-made__picture-component {
    margin-right: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__picture-component {
    margin-right: 74px;
  }
}

.section-how-made__wrapper {
  margin-bottom: 39px;
}

@media screen and (min-width: 768px) {
  .section-how-made__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__wrapper {
    margin-bottom: 39px;
  }
}

.section-how-made__description {
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .section-how-made__description {
    width: 340px;
    padding: 0;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__description {
    width: 463px;
    padding: 0;
  }
}

.section-how-made__primary-text {
  display: block;
  margin-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .section-how-made__primary-text {
    margin-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__primary-text {
    margin-bottom: 35px;
  }
}

.section-how-made__text-second {
  display: block;
  margin-bottom: 17px;
}

@media screen and (min-width: 768px) {
  .section-how-made__text-second {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__text-second {
    margin-bottom: 45px;
  }
}

.section-how-made__button {
  padding: 17px 43px;
  font-size: 14px;
  line-height: 1.28;
}

@media screen and (min-width: 768px) {
  .section-how-made__button {
    font-size: 16px;
    line-height: 1.31;
  }
}

@media screen and (min-width: 768px) {
  .section-how-made__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-how-made__item:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .section-how-made__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-how-made__item {
    margin-right: 40px;
  }
}

.section-how-made__item::before {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .section-how-made__item::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__item::before {
    margin-bottom: 40px;
  }
}

.section-how-made__caption-structure {
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .section-how-made__caption-structure {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__caption-structure {
    margin-bottom: 15px;
  }
}

.section-how-made__arrow-right {
  margin-left: 19px;
}

.section-how-made__picture-portfolio {
  position: absolute;
  bottom: -74px;
  left: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .section-how-made__picture-portfolio {
    bottom: -158px;
  }
}

@media screen and (min-width: 1200px) {
  .section-how-made__picture-portfolio {
    bottom: -259px;
  }
}

.section-contacts__item {
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  height: 427px;
}

@media screen and (min-width: 768px) {
  .section-contacts__item {
    height: 544px;
  }
}

@media screen and (min-width: 1200px) {
  .section-contacts__item {
    height: 572px;
  }
}

.section-contacts__establishment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 4px;
  width: 80px;
  height: 16px;
  color: var(--color-text-inverse);
}

@media screen and (min-width: 768px) {
  .section-contacts__establishment {
    font-size: 16px;
    line-height: 1.86;
  }
}

.section-contacts__establishment--cafe {
  width: 80px;
  height: 16px;
  background-color: var(--color-bg-cafe);
}

@media screen and (min-width: 768px) {
  .section-contacts__establishment--cafe {
    width: 73px;
    height: 28px;
  }
}

.section-contacts__establishment--foodtrack {
  width: 130px;
  height: 16px;
  background-color: var(--color-bg-foodtrack);
}

@media screen and (min-width: 768px) {
  .section-contacts__establishment--foodtrack {
    width: 138px;
    height: 28px;
  }
}

.section-contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
}

@media screen and (min-width: 768px) {
  .section-contacts__text {
    font-size: 14px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1200px) {
  .section-contacts__text {
    font-size: 16px;
    line-height: 1.83;
  }
}

.section-contacts__adress, .section-contacts__opening-hours, .section-contacts__caption-weekday, .section-contacts__caption-city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

@media screen and (min-width: 768px) {
  .section-contacts__adress, .section-contacts__opening-hours, .section-contacts__caption-weekday, .section-contacts__caption-city {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .section-contacts__adress, .section-contacts__opening-hours, .section-contacts__caption-weekday, .section-contacts__caption-city {
    font-size: 16px;
  }
}

.section-contacts__working-hours {
  border-top: 1px solid var(--color-border-1);
  border-bottom: 1px solid var(--color-border-1);
}

.section-contacts__opening-hours {
  color: var(--color-text-pink);
}

.section-contacts__adress {
  display: block;
  font-style: normal;
  color: var(--color-text-second);
}

.section-contacts__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  width: 161px;
  height: 44px;
}

.section-contacts__arrow-right {
  margin-left: 15px;
}

.section-contacts__arrow-right {
  stroke: var(--color-text-accent);
}

.section-contacts__arrow-right--inverse {
  stroke: var(--color-text-inverse);
}

.section-contacts__container {
  padding-bottom: 158px;
}

.section-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}

@media screen and (min-width: 768px) {
  .section-contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -10px;
    margin-bottom: 81px;
  }
}

@media screen and (min-width: 1200px) {
  .section-contacts__list {
    margin: -15px;
    margin-bottom: 86px;
  }
}

.section-contacts__item {
  padding: 43px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .section-contacts__item {
    padding: 50px 30px;
    -ms-flex-preferred-size: calc(100% - 2 * 20px)/3;
        flex-basis: calc(100% - 2 * 20px)/3;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section-contacts__item {
    padding: 50px 43px 62px;
    -ms-flex-preferred-size: calc(100% - 2 * 30px)/3;
        flex-basis: calc(100% - 2 * 30px)/3;
    margin: 10px;
  }
}

@media screen and (max-width: 767px) {
  .section-contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.section-contacts__caption-city {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .section-contacts__caption-city {
    margin-bottom: 14px;
  }
}

.section-contacts__working-hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 145px;
  height: 195px;
}

@media screen and (min-width: 768px) {
  .section-contacts__working-hours {
    height: 173px;
  }
}

.section-contacts__weekday {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .section-contacts__weekday {
    margin-bottom: 16px;
  }
}

.section-contacts__buttons {
  width: 162px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-contacts__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 382px;
  }
}

.section-contacts__button:not(:last-child) {
  margin-bottom: 10px;
}

.section-about-us__container {
  padding-top: 154px;
  padding-bottom: 86px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .section-about-us__container {
    padding: 279px 74px 119px;
  }
}

@media screen and (min-width: 1200px) {
  .section-about-us__container {
    padding: 382px 177px 132px;
  }
}

.feedback-photo {
  margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
  .feedback-photo {
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-photo {
    margin-bottom: 15px;
  }
}

.feedback-photo__image {
  border-radius: 50%;
  margin: 0 auto;
}

.feedback-discription {
  padding: 43px 50px 0 50px;
}

@media screen and (min-width: 768px) {
  .feedback-discription {
    padding: 47px 80px 0 80px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-discription {
    padding: 47px 88px 0 88px;
  }
}

.feedback-discription__text {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .feedback-discription__text {
    margin-bottom: 52px;
  }
}

@media screen and (min-width: 1200px) {
  .feedback-discription__text {
    margin-bottom: 54px;
  }
}

.feedback-discription__continuation {
  margin: 0 auto 18px;
}

@media screen and (min-width: 768px) {
  .feedback-discription__continuation {
    margin-bottom: 14px;
  }
}

.footer__caption {
  font-size: 18px;
  line-height: 1.16;
  text-align: left;
  color: var(--color-title-second-h1-h2);
}

@media screen and (min-width: 768px) {
  .footer__caption {
    width: 340px;
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .footer__caption {
    width: 474px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer__caption-bold {
  font-size: 34px;
  line-height: 1.14;
  color: var(--color-title-h1-h2);
}

@media screen and (min-width: 768px) {
  .footer__caption-bold {
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1200px) {
  .footer__caption-bold {
    font-size: 58px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    width: 268px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    width: 319px;
  }
}

.footer__link-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-bg-link-social-footer);
}

@media screen and (min-width: 768px) {
  .footer__link-social {
    width: 34px;
    height: 34px;
  }
}

.footer__link-social:hover {
  background-color: var(--color-text-accent);
}

.footer__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    font-size: 16px;
  }
}

.footer__link-contact {
  color: var(--color-text-accent);
}

.footer__all-rights {
  width: 150px;
  height: 42px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--color-text-second);
}

@media screen and (min-width: 768px) {
  .footer__all-rights {
    width: 276px;
    height: 26px;
    line-height: 1.86;
  }
}

.footer__container {
  position: relative;
  padding-top: 113px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 158px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    padding-top: 165px;
    padding-bottom: 10px;
  }
}

.footer__caption {
  margin-bottom: 43px;
}

@media screen and (min-width: 768px) {
  .footer__caption {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__caption {
    margin-bottom: 107px;
  }
}

.footer__caption-bold {
  display: block;
  margin-top: 17px;
}

@media screen and (min-width: 1200px) {
  .footer__caption-bold {
    margin-top: 15px;
  }
}

.footer__wrapper {
  margin-bottom: 65px;
}

.footer__list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__item-social:not(:last-child) {
  margin-right: 28px;
}

@media screen and (min-width: 768px) {
  .footer__item-social:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item-social:not(:last-child) {
    margin-right: 25px;
  }
}

.footer__link-social {
  margin-bottom: 46px;
}

@media screen and (min-width: 1200px) {
  .footer__link-social {
    margin-bottom: 50px;
  }
}

.footer__contact {
  text-align: right;
}

.footer__all-rights {
  margin: 0 auto;
}

.footer__all-rights::before {
  position: absolute;
  left: 0;
  bottom: 89px;
  display: block;
  content: "";
  width: 320px;
  border: 0.5px solid var(--color-border-1);
}

@media screen and (min-width: 768px) {
  .footer__all-rights::before {
    bottom: 73px;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__all-rights::before {
    bottom: 45px;
    width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */