.feedback-photo {
  margin-top: 154px;
  margin-bottom: 29px;

  &__image {
    border-radius: 50%;
    margin: 0 auto;
  }
}

.feedback-discription {
  padding: 43px 50px 20px 50px;

  &__continuation {
    margin: 50px auto 18px;
  }
}
