.header {
  background-color: var(--color-bg-header);
  padding-top: 6px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
  }

  &__burger-button {
  }
}

.menu-pop-up {
  position: absolute;
  top: 0;
  right: 0;

  &.is-open {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  &.is-open &__button {
    align-self: center;

    margin-bottom: 19px;
  }

  &__button {
    padding: 14px 54px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
  }

  &__arrow-right {
    margin-left: 28px;
  }
}

.navigation {
  &__item {
    padding: 12px 21px;
  }
}
