.button {
  display: inline-block;

  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  background-color: var(--color-bg-button);
  border: none;
  outline: none;
  border-radius: 22px;

  color: var(--color-text-accent);

  & .arrow-right {
    margin-left: 16px;
  }

  &.inverse {
    color: --color-text-white;
    background-color: var(--color-bg-button-inverse);
  }
}
