.section-hero {
  background-color: var(--color-pink-4);
  &__container {
    background-image: url("../image/hero-ice-cream.png"),
      url("../image/hero-ellipse.png");
    background-repeat: no-repeat;
    background-size: 171px 410px, 346px 344px;
    background-position: 117px 36px, 36px 27px;

    @media screen and (min-width: $tablet) {
      background-image: url("../image/hero-milk.png");
      background-repeat: no-repeat;
      background-size: 124px 126px;
      background-position: 34px 158px;
    }
  }

  &__container::before {
    @media screen and (min-width: $tablet) {
      display: block;
      content: "";

      width: 427px;
      height: 414px;

      background-image: url("../image/hero-ice-cream.png"),
        url("../image/hero-girl.png"), url("../image/hero-ellipse.png");
      background-repeat: no-repeat;
      background-size: 143px 336px, 168px 133px, 324px 322px;
      background-position: 71px 32px, 259px 235px, left top;
    }
  }

  &__caption {
    font-size: 26px;
    line-height: 1.15;
    text-align: left;

    width: 218px;

    color: var(--color-text-inverse);
    @media screen and (min-width: $tablet) {
      font-size: 25px;
      line-height: 1.13;
    }
  }

  &__caption-bold {
    font-size: 48px;
    line-height: 0.96;

    color: var(--color-text-accent);
    @media screen and (min-width: $tablet) {
      width: 162px;

      font-size: 34px;
      line-height: 0.95;
    }
  }

  &__button-disc {
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;

    padding: 9px 14px;
  }

  &__text {
    width: 114px;
    height: 48px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;

    color: var(--color-text-inverse);
  }

  &__button-next {
    display: inline-block;

    width: 18px;
    height: 18px;

    background-image: url("../image/arrow-right.jpg");
    background-size: contain;
  }

  &__count-establishment {
    position: relative;

    z-index: 1;

    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;

    text-align: right;

    color: var(--color-text-accent);
  }

  &__name-establishment {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    text-align: right;

    color: var(--color-text-inverse);
  }
}
