.feedback-discription {
  background-image: url("../image/marks.png");
  background-repeat: no-repeat;
  background-position: 61px 28px;

  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;

    text-align: center;
  }
  &__text--name {
    font-size: 14px;
    line-height: 1.85;
  }
  &__continuation {
    display: block;

    width: 32px;
    height: 4px;
    background-image: url("../image/dots.png");
  }
}
