// заголовки
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Titan One;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

// контейнер
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;

  width: 320px;
}

// cссылки
.link {
  text-decoration: none;
}

// текст и ссылки
.text,
.link {
  font-family: DM Sans, sans-serif;
}
//text - основной цвет
.text {
  color: var(--color-text-primary);
  margin: 0;
  padding: 0;
}

.text-second {
  color: var(--color-text-second);
}

// списки
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

//контентное изображение
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
