// заголовки
h1,
h2,
h3 {
  font-family: Titan One;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
  line-height: 30px;
}

.header {
  &__container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

    width: 320px;
  }
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
